:root {
    --background: #FCECFF;
    --font-family: "Ubuntu", sans-serif;
    font-family: var(--font-family);
}

header {
    display: flex;
    align-items: center;
    padding: 0px 132px;
    width: 100%;
    height: 70px;
    background-color: var(--background);
    border-bottom: 0.5px solid rgba(23, 22, 22, 0.3);
}

.logo {
    width: 128px;
    height: 32px;
    margin-right: 280px;
}

.navbar {
    display: flex;
    gap: 44px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #171616;
    margin-right: 183px;
}

.navbar a:hover {
    text-decoration: underline;
}

.header__icons {
    display: flex;
}

.header__icons-list {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header__icons-list > p {
    margin-right: 4px;
    margin-left: 8px;
}

.header__icons > img:nth-of-type(1) {
    margin-left: 28px; 
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #e94343;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
} 


main {
    background-color: var(--background);
    width: 100%;
    overflow-x:hidden
}


.banner {
    position: relative;
    width: 100%;
    height: 592px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--background);
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-star;
    padding: 0 132px;
}

.text-content {
    margin-top: 140px;
    width: 393px;
    height: 253px;
}

.text-content > h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #171616;
    margin-bottom: 14px;
}

.text-content > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 168%;
    color: #171616;
    margin-bottom: 32px;
}

.main--btn {
    border-radius: 12px;
    padding: 20px 42px;
    width: 213px;
    height: 61px;
    background: #e46363;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.main--btn:hover {
    background-color: #E05454;
} 

.image-content { 
    position: relative; 
    right: -135px; 
    width: 557px; 
    height: 472px; 
    margin-top: 45px;  
}

.image-content img { 
    position: absolute; 
    display: block; 
    object-fit: contain; 
    z-index: 1; 
  } 
   
.image-content-background { 
    position: absolute; 
    border-radius: 120px; 
    width: 557px; 
    height: 472px; 
    z-index: 0; 
    filter: blur(120px); 
    background: #f4cccc; 
    margin-right: 135px;
}


.catalog {
    width: 100%;
    max-width: 1440px;
    height: 936px;
    margin: 0 auto;
    padding: 75px 132px;
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card__container { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px; 
    width: 1176px; 
    height: 692px; 
}   

.card { 
    border-radius: 20px; 
    width: 376px; 
    height: 334px; 
    background: #efffed; 
    padding: 30px 34px 0px 34px; 
} 

.card__title { 
    display: flex; 
    justify-content: space-between; 
    font-weight: 500;
    font-size: 18px;
    color: #171616;
    margin-bottom: 20px;
}

.card__title h3 a:hover {
    text-decoration: underline;
}

.card:nth-child(2) { 
    background: #ffedf9; 
} 
   
.card:nth-child(3) { 
    background: #feffed; 
}

.card:nth-child(4) { 
    background: #edfbff; 
}

.card:nth-child(5) { 
    background: #f1edff; 
}

.card:nth-child(6) { 
    background: #ffedee; 
}

.catalog--btn {
    display: block; 
    border-radius: 12px;
    padding: 18px 36px;
    width: 245px;
    height: 54px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 16px;
    color: #171616;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
}

.catalog--btn:hover {
    background-color: #e3e6e9;
}


.reviews {
    width: 100%;
    max-width: 1440px;
    padding: 65px 132px 92px 132px;
    background-color: #fff; 
}

.reviews--header {
    margin-bottom: 24px;
}

.reviews--header > h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 143%;
    color: #171616;
    margin-bottom: 16px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating > p {
    font-weight: 400;
    font-size: 18px;
    color: #171616;
    margin-left: 16px;
}

.rating--score {
    display: flex;
    align-items: center;
}

.rating--score > p {
    font-weight: 700;
    font-size: 18px;
    color: #ef8538;
    margin-left: 6px;
}

.review--card--container {
    display: flex;
    gap: 24px;
}

.review--card {
    display: flex;
    border-radius: 12px;
    width: 376px;
    height: 192px;
    background: #fbfbfb;
    padding: 20px;
}

.review--card > img {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.review--body > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: #171616;
}

.review--card--title {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px;
}

.review--card--title > p {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: rgba(23, 22, 22, 0.5);
}

.author--score > h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: #171616;
    margin-bottom: 4px;
}

.stars {
    display: flex;
    gap: 0px; 
}

.stars > img {
    width: 19px;
    height: 19px;
}


footer {
    width: 1440px;
    height: 292px;
    background-color: var(--background);
    padding: 65px 132px;
}

.footer--container {
    display: flex;
}

.footer--logo {
    width: 128px;
    height: 32px;
    margin-right: 172px;
}

.social-media {
    gap: 10px;
    display: flex;
    margin-top: 20px;
}

.social-media > img {
    width: 30px;
    height: 30px;
}

.footer--section > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: #171616;
    margin-bottom: 16px;
}

.footer--section {
    margin-right: 79px;
}

.footer--section ul li {
    margin-bottom: 12px;
}

.footer--section ul li a:hover {
    text-decoration: underline;
}

.catalog2 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 132px 80px 132px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
}

.catalog2 > h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    color: #171616;
    margin-bottom: 44px;
    margin-top: 28px;
}

.container2 {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px; 
    width: 1176px; 
    height: 1377px; 
}

.card2 {
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    width: 376px;
    height: 443px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 25px 0 rgba(210, 210, 210, 0.25);
    background: #fff;
}

.card2:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.card2 > img {
    border-radius: 20px 20px 0 0;
}

.card2--description {
    padding: 16px 0px 18px 16px;
}

.card2--description > h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #171616;
    margin-bottom: 10px;
}

.card2--description > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #171616;
}

.order--button {
    width: 344px;
    height: 45px;
    background-color: #e46363;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.order--button:hover {
    background-color: #E05454;
}

.cart {
    padding: 25px 132px;
    background-color: #fff; 
    height: 700px;
}

.cart > h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: #171616;
    margin-bottom: 32px;
    margin-top: 32px;
}

.cart-container {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    align-items: flex-start;
    padding: 24px;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    width: 776px;
    height: 218px;
    box-shadow: 0 2px 20px 0 rgba(224, 224, 224, 0.25);
}

.cart-item > img {
    border-radius: 10px;
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-right: 32px;
}

.cart-item-details {
    flex-grow: 1;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.item-name > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: rgba(23, 22, 22, 0.5);
    margin-bottom: 6px;
}

.item-name > h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #171616;
}

.item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.item-quantity {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    border-radius: 8px;
    width: 102px;
    font-weight: 400;
    font-size: 16px;
}

.quantity-btn {
    background: #f6f6f6;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    color: #171616;
    cursor: pointer;
}

.quantity-btn > img {
    width: 24px;
    height: 24px;
}

.item-price > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 142%;
    text-align: right;
    color: #171616;
}

.remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.cart-summary {
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    padding: 28px;
    width: 376px;
    height: 310px;
    box-shadow: 0 2px 20px 0 rgba(224, 224, 224, 0.25);
    background: #fff;
}

.cart-summary > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #171616;
    margin-bottom: 24px;
}

.order-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: #171616;
}

.divider {
    border: 1px solid #e3e3e3;
    margin: 24px 0;   
    width: 320px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #171616;
}

.order-btn {
    border-radius: 8px;
    padding: 12px 10px;
    width: 320px;
    height: 46px;
    background: #e46363;
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.order-btn:hover {
    background-color: #E05454;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.breadcrumbs li {
    display: inline;
    font-size: 14px;
}
  
.breadcrumbs li:not(:last-child):after {
    content: "›";
    margin: 0 5px;
  }
  
.breadcrumbs li a {
    text-decoration: none;
    color: rgba(23, 22, 22, 0.5);
    
}
  
.breadcrumbs li a:hover {
    text-decoration: underline;
}